node_modules
env
.env
.env
dove-clean
.dove-clean1
dove-clean1/packed-refs
dove-clean1/objects/pack/pack-9200f3b4e104c14cd22f19fdff8ba0e58b0fddde.rev
dove-clean1/objects/pack/pack-9200f3b4e104c14cd22f19fdff8ba0e58b0fddde.pack
dove-clean1/objects/pack/pack-9200f3b4e104c14cd22f19fdff8ba0e58b0fddde.idx
dove-clean1/objects/pack/pack-9200f3b4e104c14cd22f19fdff8ba0e58b0fddde.bitmap
dove-clean1/objects/info/packs
dove-clean1/objects/info/commit-graph
dove-clean1/info/refs
dove-clean1/info/exclude
dove-clean1/hooks/update.sample
dove-clean1/hooks/sendemail-validate.sample
dove-clean1/hooks/push-to-checkout.sample
dove-clean1/hooks/prepare-commit-msg.sample
dove-clean1/hooks/pre-receive.sample
dove-clean1/hooks/pre-rebase.sample
dove-clean1/hooks/pre-push.sample
dove-clean1/hooks/pre-merge-commit.sample
dove-clean1/hooks/pre-commit.sample
dove-clean1/hooks/pre-applypatch.sample
dove-clean1/hooks/post-update.sample
dove-clean1/hooks/fsmonitor-watchman.sample
dove-clean1/hooks/commit-msg.sample
dove-clean1/hooks/applypatch-msg.sample
dove-clean1/HEAD
dove-clean1/filter-repo/suboptimal-issues
dove-clean1/filter-repo/ref-map
dove-clean1/filter-repo/first-changed-commits
dove-clean1/filter-repo/commit-map
dove-clean1/filter-repo/changed-refs
dove-clean1/filter-repo/already_ran
dove-clean1/description
dove-clean1/config
