node_modules
env
.env
.env
dove-clean/dove-clean/packed-refs
dove-clean/dove-clean/objects/pack/pack-79ed52e78f47fbd2bc689a8518e4c5ec3da6c6f0.rev
dove-clean/dove-clean/objects/pack/pack-79ed52e78f47fbd2bc689a8518e4c5ec3da6c6f0.pack
dove-clean/dove-clean/objects/pack/pack-79ed52e78f47fbd2bc689a8518e4c5ec3da6c6f0.idx
dove-clean/dove-clean/objects/pack/pack-79ed52e78f47fbd2bc689a8518e4c5ec3da6c6f0.bitmap
dove-clean/dove-clean/objects/info/packs
dove-clean/dove-clean/objects/info/commit-graph
dove-clean/dove-clean/info/refs
dove-clean/dove-clean/info/exclude
dove-clean/dove-clean/hooks/update.sample
dove-clean/dove-clean/hooks/sendemail-validate.sample
dove-clean/dove-clean/hooks/push-to-checkout.sample
dove-clean/dove-clean/hooks/prepare-commit-msg.sample
dove-clean/dove-clean/hooks/pre-receive.sample
dove-clean/dove-clean/hooks/pre-rebase.sample
dove-clean/dove-clean/hooks/pre-push.sample
dove-clean/dove-clean/hooks/pre-merge-commit.sample
dove-clean/dove-clean/hooks/pre-commit.sample
dove-clean/dove-clean/hooks/pre-applypatch.sample
dove-clean/dove-clean/hooks/post-update.sample
dove-clean/dove-clean/hooks/fsmonitor-watchman.sample
dove-clean/dove-clean/hooks/commit-msg.sample
dove-clean/dove-clean/hooks/applypatch-msg.sample
dove-clean/dove-clean/HEAD
dove-clean/dove-clean/filter-repo/suboptimal-issues
dove-clean/dove-clean/filter-repo/ref-map
dove-clean/dove-clean/filter-repo/first-changed-commits
dove-clean/dove-clean/filter-repo/commit-map
dove-clean/dove-clean/filter-repo/changed-refs
dove-clean/dove-clean/filter-repo/already_ran
dove-clean/dove-clean/description
dove-clean/dove-clean/config
